body {
  margin:0;
  margin-bottom: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width:6px;
  height: 6px;
  background: #1e263b;;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 5px;
  border-radius: 10px;
  min-width: 200px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  width: 3px;
  border-radius: 10px;
  background: linear-gradient(45deg,rgb(55, 59, 68), rgb(66, 134, 244,0.5));
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); */
}

::-webkit-scrollbar-thumb:window-inactive {
  background: linear-gradient(45deg, rgb(55, 59, 68,0.1), rgb(66, 134, 244, 0.1));
}
